* { margin:0; padding:0; }

html, body { width:100%; height:100%; }

body {
	text-align: center;
	font-family: 'Lato', sans-serif;
}

a, .button { 
    touch-action: manipulation;     /* IE11+ */
	-webkit-user-select: none;
}

/* Used for overriding mobile zoom/pan */
#canvasSimple, #canvasDiv {
	 -ms-touch-action: none;
	-webkit-user-select: none;	 
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body:hover {

}

#deadzone-top, #deadzone-bottom  {
	background-color: rgba(0,0,0,0.3);
	color: white;
}

#deadzone-top {
	position: relative;
	width: 100%;
	height: 130px;
	overflow: hidden;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-align: left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;   	/* Opera/IE 8+ */
	padding: 5px 10px;
	top: 0;
	/* border-top: black 40px solid;
	border-bottom: black 10px solid; */
}

#deadzone-bottom {
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-align: right;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;   	/* Opera/IE 8+ */
	bottom: 0;
	/* border-top: rgba(0,0,0,0.3) 10px solid;
	border-bottom: rgba(0,0,0,0.3) 30px solid; */
}

.tab {
	height: 100%;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	background-color: rgba(255, 255, 255, 0.9);
	border: none;
	/* margin-left: 10px; */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
	padding: 10px 130px;
	border-radius: 100px 0 0 0;
	background-position: 50px center;	
	background-size: 50px;
	background-repeat: no-repeat;
	position: absolute;
	right: 0px;
	box-shadow: black 10px 30px 40px 10px;
}

#paintbutton {
	background-color: #ffc907;
	background-image: url('/assets/images/Pen.png');
	width: 1300px;
	z-index: 1;
}

#erasebutton {
	background-color: #01b3ef;
	background-image: url('/assets/images/Rubber.png');
	z-index: 2;
	width: 850px;
}

#undobutton {
	background-color: #d6e30f;
	background-image: url('/assets/images/Undo.png');
	z-index: 3;
	width: 400px;
}

#redobutton {
	background-color: #6edc45;
	background-image: url('/assets/images/Redo.png');
	z-index: 4;
	width: 50px;
}

#circle {
	border-radius: 50%;
	display: none;
	position: absolute;
	width: 100px; /* Radius = 50 */
    height: 100px;
	border: 3px solid red;
	top: 100px; /* use +50 correction for centre */
	left: 100px;
	pointer-events: none;
}


 /* Buttons */
 
 .adminButton {
	padding: 20px;	
	font: bold 30px 'Lato', sans-serif; 
	background-color: rgba(0,0,0,0.5); 
	width: auto !important;
 }

.tabButton {
	height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	width: 60px;
	float: left;
	margin-right: 5px;
}

.buttonSize1 { padding: 35px 0; }

.buttonSize2 { padding: 32px 0; }

.buttonSize3 { padding: 30px 0; }

.buttonSize4 { padding: 28px 0; }

.buttonSize5 { padding: 25px 0; }


.strokeSize {
	background-color: black;
	margin: 0 auto;
}

.dot1 { height: 10px; width: 10px; border-radius: 10px; }

.dot2 { height: 15px; width: 15px; border-radius: 15px; }

.dot3 { height: 20px; width: 20px; border-radius: 20px; }

.dot4 { height: 25px; width: 25px; border-radius: 25px; }

.dot5 { height: 30px; width: 30px; border-radius: 30px; }


.handwritingButton {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	float: left;
	background-color: black;
	margin-left: 160px;
	color: white;
	padding: 10px 20px;
	margin-top: 14px;
}

.highlightCircle {
	border-radius: 50%;
	position: absolute;
	width: 60px;
    height: 60px;
	border: 4px solid white;
	top: 16px;
	left: 256px;
	pointer-events: none;
}

#innerEraseButtons {

}

#eraserCircle {
	display: none;
}

#simplediv, #simplediv2{
	background-color:white;	
	box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.4);		
	height:90%;
	color:black;
	padding:20px;	
	text-align: center;	
	font-size:20px;
}
#simplediv2{			
	font-size:30px;
}


#closeButton, .topButton{
border:1px solid #393b3e;-webkit-box-shadow: #737373 0px 1px 5px ;-moz-box-shadow: #737373 0px 1px 5px ; box-shadow: #737373 0px 1px 5px ; -webkit-border-radius: 23px; -moz-border-radius: 23px;border-radius: 23px;font-size:25px;font-family:arial, helvetica, sans-serif; padding: 10px 20px 10px 20px; text-decoration:none; display:inline-block;text-shadow: 0px 1px 0 rgba(10,10,10,0.5);font-weight:bold; color: #8C8C8C;
 background-color: #515459; background-image: -webkit-gradient(linear, left top, left bottom, from(#515459), to(#3B3C40));
 background-image: -webkit-linear-gradient(top, #515459, #3B3C40);
 background-image: -moz-linear-gradient(top, #515459, #3B3C40);
 background-image: -ms-linear-gradient(top, #515459, #3B3C40);
 background-image: -o-linear-gradient(top, #515459, #3B3C40);
 background-image: linear-gradient(to bottom, #515459, #3B3C40);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#515459, endColorstr=#3B3C40);
}

#closeButton, .topButton:hover{
 border:1px solid #393b3e;
 background-color: #3B3C40; background-image: -webkit-gradient(linear, left top, left bottom, from(#3B3C40), to(#202124));
 background-image: -webkit-linear-gradient(top, #3B3C40, #202124);
 background-image: -moz-linear-gradient(top, #3B3C40, #202124);
 background-image: -ms-linear-gradient(top, #3B3C40, #202124);
 background-image: -o-linear-gradient(top, #3B3C40, #202124);
 background-image: linear-gradient(to bottom, #3B3C40, #202124);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3B3C40, endColorstr=#202124);
}
