<!DOCTYPE html>
	<head>
		<title>Creative Teams</title>
		<script src="/javascript/jquery.js" type="text/javascript"></script>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/style.css?v=1">
		<meta name="viewport" content="user-scalable=no, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, width=device-width, target-densitydpi=device-dpi">
		<!--<meta content='width=device-width, height=device-height, initial-scale=1, minimal-ui, user-scalable=0' name='viewport'> -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<!-- <meta name="viewport" content="user-scalable=no">	-->
		<script type='application/javascript' src='/javascript/fastclick.js'></script>
		<link rel="stylesheet" type="text/css" href="/css/jquery.nouislider.css">		
		<script type='application/javascript' src='/javascript/jquery.nouislider.min.js'></script>
		
		<script src="/socket.io/socket.io.js"></script>
        <script src="PopupWindow.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">		
		
		<script> 
		var socket = io.connect();		
        socket.on('clientBlockIdeaTitle', function(session) {	
			document.getElementById('idea-title-textfield').disabled = true;			
		});
		socket.on('clientReleaseIdeaTitle', function(session) {	
			document.getElementById('idea-title-textfield').disabled = false;			
		});
		socket.on('clientEnterIdeaTitle', function(text) {	
			document.getElementById('idea-title-textfield').value = text;			
		});
		
		socket.on('clientBlockIdeaDescription', function(session) {	
			document.getElementById('idea-description-textfield').disabled = true;			
		});
		socket.on('clientReleaseIdeaDescription', function(session) {	
			document.getElementById('idea-description-textfield').disabled = false;			
		});
		socket.on('clientEnterIdeaDescription', function(text) {	
			document.getElementById('idea-description-textfield').value = text;			
		});
		
		socket.on('clientSubmitIdea', function(ideaText, descriptionText) {	
			//var textHere = "<tr><td>A really good idea</td><td>This idea is really very good</td></tr>";
			//document.getElementById('ideaHere').innerHTML = textHere;
			var table = document.getElementById("ideaTable");
			// Create an empty <tr> element and add it to the 1st position of the table:
			var row = table.insertRow(-1);
			
			// Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			
			// Add some text to the new cells:
			cell1.innerHTML = ideaText;
			cell2.innerHTML = descriptionText + '<input type="button" name="buttonDelete" id="buttonDelete" value="Delete" class="deleteButton">';
		});
		
		
		
        </script> 
        <link rel="stylesheet" type="text/css" href="/css/idea_generation.css">
		
	</head>
	<body onload="Popup.hideAll();">
		<div id="mainBox">	
		<div id="idea-top">	
			<input name="button" type="button" value="Idea Generation" style="float:left; margin-top:25px;" class="topButton" id="top-left-button" onClick="
            if(document.getElementById('top-left-button').value == 'Instructions'){
            	this.value = 'Idea Generation';
                Popup.show('instructions');  
                //alert(this.value);              
            }
            ">
            <input name="button" type="button" value="Finish Test" style="float:right; margin-top:25px;" class="topButton" id="top-right-button" onClick="
            Popup.show('thankyou');            
            ">
			<h1 style="margin-top: 36px; text-align: center;">Mike / S1P1</h1>
		</div>	
		
		<div id="mainIdeaDiv">
				<div id="mainIdeaDiv-Half">
                		<div id="mainIdeaDiv-topBox">
                			<table width="100%" border="0" cellspacing="5" cellpadding="5">
                              <tr>
                                <td width="70%">                                
                                <input name="idea-title-textfield" type="text" id="idea-title-textfield" value="Idea title" 
                                    onFocus="socket.emit('blockIdeaTitle');this.select();" 
                                    onBlur="socket.emit('releaseIdeaTitle');"
                                    onKeyUp="socket.emit('enterIdeaTitle',this.value);"
                                ></td>
                                <td width="30%">&nbsp;</td>
                              </tr>
                              <tr>
                                <td>
                                <textarea name="idea-description-textfield" id="idea-description-textfield" 
                                  	onFocus="socket.emit('blockIdeaDescription');this.select();"
                                    onBlur="socket.emit('releaseIdeaDescription');"
                                    onKeyUp="socket.emit('enterIdeaDescription',this.value);"
                                >Idea description</textarea></td>
                                <td><input type="submit" name="button" id="button" class="button_idea" value="Add this Idea" onClick="
                                socket.emit('submitIdea', document.getElementById('idea-title-textfield').value, document.getElementById('idea-description-textfield').value);
                                "></td>
                              </tr>
                            </table>			
						</div>
                        <div id="mainIdeaDiv-bottomBox">
                			<table id="ideaTable" width="100%" border="1" cellspacing="0" cellpadding="5">
                              <tr>
                                <td bgcolor="#999999" width="40%"><strong>Idea title</strong></td>
                                <td bgcolor="#999999" width="60%"><strong>Description</strong></td>
                              </tr>                                                            
                            </table>	
						</div>			
				</div>
                
                <div id="thankyou"  style="background-color: #FFF; width:100%; height:100%; display:none;">
                    <h1>Thank you </h1>
                    <br/><br/>
                    Thank you for participating with this study. Your help is very much appreaciated. Please see the test coordinator for reimbursement for your time.
                    <br/><br/>
                    If you have any questions at all regarding this test or any part of the stud then please contact the test coordinator.
                    
                    <br/><br/>
                   
                    <p>
                    <input name="enterButton" type="button" value="Close and Finish" id="closeButton" onClick="location='../';">
                    </p>
                 </div>
                    
                 <div id="addTitle">
                    <h1>Add Title</h1>
                    <br/><br/>
                    
                    <textarea name="add Title" cols="70" rows="10" style="font-size:18px;">Add title to project in this box, same is used for text descriptions. No world limit.</textarea>
                    
                    <br/><br/>
                   
                    <p>
                    <input name="saveButton" type="button" value="Save Title" id="saveButton" class="topButton" onClick="Popup.hideAll();">
                    <input name="cancelButton" type="button" value="Cancel" id="cancelButton" class="topButton" onClick="Popup.hideAll();">
                    </p>
                </div>
                
        
        <div id="idea-top">	
			<h1 id="timeRemained">19:35 remaining</h1>			
		</div>        
        </div>
		
		<script async src="/javascript/supertestcanvas.js?v=1"></script>
	</body>
</html>
