<!DOCTYPE html>
<html>
<head>
	<title>Creative Teams : Login</title>
	<link rel="stylesheet" type="text/css" href="/css/formstyle.css?v=1">
	<meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width, target-densitydpi=device-dpi">	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/images/CreativeTeams-Icon.png">
	<script src='../javascript/jquery.js'></script>
	<script src="../javascript/prefixfree.min.js"></script>
    <script src="PopupWindow.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">	
    
</head>

<body>
	<div class="body" id="thing"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Creative<br>Teams</div>
		</div>		
		<br>
		<form name="form1" method="post" class="login" enctype="application/x-www-form-urlencoded">
				<input type="text" placeholder="access code" name="accesscode" id="accesscode"><br>
				<input type="text" placeholder="nickname" name="nickname" id="nickname"><br> 
                <input type="submit" name="Submit" value="Start Test" onClick="
                if(document.getElementById('accesscode').value != '' && document.getElementById('nickname').value != ''){
                	Popup.show('simplediv2');
                    return false;
                }
                else{
                	alert('Please enter access code and nickname');
                    return false;
                }
                ">
		</form>
        <div class="agreement">
			<h3><a href="#" class="white" onclick="Popup.show('simplediv');return false;">Ethics agreement </a></h3>
		</div>
        
        <div id="simplediv">
        <h1>Ethics Agreement</h1>
        Provisional registration

PhD candidates are initially provisionally registered. Provisional registration includes particular goals for the candidate to achieve in the first twelve months. Upon satisfactory completion of the first year, a candidate’s registration is confirmed. At 12 months, the Graduate Centre sends the provisional year review forms. These need to be filled out by the student and supervisor(s). Forms are forwarded to the PhD Coordinator and approved by the Department PhD Committee.

Failure to complete all tasks assigned in the first year research plan may result in termination of registration and fellowships. 

<br/><br/>

Provisional Year Review

The provisional review is formally conducted by a Review Panel.
The Review Panel consists of the supervisor(s) and the advisory committee members of the PhD candidate.
If the advisory committee is absent, two staff members should be invited by the main supervisor to act as part of the Review Panel for the assessment.
The student needs to present at a public departmental seminar and submit a provisional PhD report, which summarizes the first year’s PhD research and outlines the plans for the rest of the PhD study. A brief guideline for the provisional year seminar is as follows. The presentation should be 40 minutes plus questions, in which it contains the following discernible elements:
research questions;
methodology;
related work (demonstrating novelty, indicating research gap);
optionally, if available, preliminary results;
research plan/milestones.
The review panelists should all attend the seminar, and after the presentation there will be a closed-door Q&A session for the review panel to ask questions of the student.
The review panelists then discuss (without the presence of the student) the assessment, and agree on a written recommendation (signed by all members).
Based on the outcome of the recommendation from the Review Panel, the main supervisor completes the provisional review form and submits it together with the provisional report and the written recommendation from the Review Panel to the departmental manager for endorsing by the PhD committee, signing off by the HoD and Associate Dean (PG) of the FoS, and sending then to the Graduate Centre.
The main supervisor is responsible to organize the Provisional Review, in terms of the seminar and aligning the availability of the review committee members, etc.The seminar announcement should be sent to the department seminar coordinator for inclusion into the weekly seminar bulletin. It should be a research group seminar but clearly indicated as a provisional year seminar and open for the CS department.

Annual review

The annual review is a similar process to the review after the first year, but no research proposal is required and no PhD Committee approval is necessary. The PhD Coordinator signs the forms and forwards them to the Faculty.

 <br/><br/>

Change of conditions

Changes to your study plan should be discussed with your supervisor and the PhD Coordinator. The Graduate Centre must be notifed of changes such as

Suspension
Termination
Change from full time to part time or from part time to full time
Absence for more than two months

As a doctoral candidate, you will be re-enrolled at the beginning of each academic year by the School of Graduate Studies. Fees should be paid on time each year to ensure successful re-enrolment

More information is available about doctoral procedures, policies and guidelines.

Or contact: phdcoordinator@cs.auckland.ac.nz

        <p>
        <input name="closeButton" type="button" value="Close" id="closeButton" onClick="Popup.hideAll();">
        </p>
        </div>
        
        <div id="simplediv2">
        <h1>Creative teams Introduction</h1>
        Welcome to the creative teams test.
        <br/><br/>
		This series of tests set out to explore how creativity changes between teams. Each test has it's own set of instruction and aims, please read each set of instructions carefully before you start each test.
        <br/><br/>
        The focus of this system is to explore how crative you are as a team, we aren't looking at individual crativity, so don't worry, you (and your team) will remain completely anonymous.
        <br/><br/>
        Go on, give everything a go - the breaod aim here is explore your collective creativity, dream up things which no one else would think of, butwhich  still make senese!
        
       <br/><br/>
       Please alert the invigilator if you have any questions during or after the test.
       <br/><br/>
       Good luck!




        <p>
        <input name="enterButton" type="button" value="Enter pratice area" id="closeButton" onClick="document.location='praticeArea.html';">
        </p>
        </div>
        
</body>
	
</html>